body,
html {
  padding: 0;
  margin: 0;
  background-color: black;
  height: 1500px;
}
/* .box {
  background-color: yellow;
  width: 50%;
  height: 50%;
  padding: 30px; // all sides 
  padding: 30px 20px; /* top bottom | left right 
  padding: 20px 10px 5px 2px; /* top | bottom | left | right 
  margin: 30px; /* all sides 
  margin: 30px 20px; /* top bottom | left right 
  margin: 20px 10px 5px 2px; /* top | bottom | left | right 
}
.inside-box {
  background-color: blue;
  width: 50%;
  height: 50%;
  border: 5px dashed red; /* border-width | border-style | border-color 
} */
div {
  display: block;
}

#boxone {
  background-color: red;
  width: 100%;
  height: 20%;
  position: fixed;
}

.box {
  width: 50%;
  height: 50%;
  display: inline-block;
}
#boxtwo {
  background-color: blue;
  width: 50%;
  height: 50%;
}
#boxthree {
  background-color: yellow;
  width: 50%;
  height: 50%;
}
#boxfour {
  background-color: green;
  width: 50%;
  height: 50%;
}
